body {
  background: rgb(135,183,166);
  background: linear-gradient(180deg, rgba(135,183,166,1) 0%, rgba(243,224,185,1) 100%);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
